.footer {
  background-color: var(--primary-color-3);
  padding: 6rem 0rem;
}

.footer-container {
  color: var(--grey-light3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social-media a {
  color: var(--grey-light3);
}

.footer-social-media a:not(:last-child) {
  margin-right: 2rem;
}

.footer-social-mediaa:hover {
  color: var(--grey-light1);
}

@media (max-width: 460px) {
  .footer-container {
    display: block;
  }

  .copyright {
    text-align: center;
  }

  .footer-social-media {
    text-align: center;
  }
}
